<tr ng-show="showUnskilled || ability.skilled" ng-show="validTimePeriod(ability.time)"
	ng-class="{customText:!isUndefined(ability.custom_input), customName:!isUndefined(ability.custom_name)}">
	<td>
		<input id="check-{{ability.name[0]}}" ng-model="ability.skilled" type="checkbox" ng-if="ability.skillable!==false">
	</td>
	<td colspan="{{calculateColspan(showValueBase)}}">
		<label for="check-{{ability.name[0]}}" ng-if="isUndefined(ability.custom_name)">
			<span ng-class="{noRightPadding:!isUndefined(ability.calc_desc)}">{{ability.name[data.options.languageIndex]}}</span>
			<span ng-if="!isUndefined(ability.calc_desc)">
				({{ability.calc_desc[data.options.languageIndex]}})
			</span>
		</label>
		<input ng-if="!isUndefined(ability.custom_input) || !isUndefined(ability.custom_name)"
			   type="text" ng-model="ability.custom_input"
			   ng-class="{text:!isUndefined(ability.custom_input || !isUndefined(ability.custom_name))}">
	</td>
	<td class="values" ng-if="showValueBase && !isUndefined(ability.value_base)">
		<span ng-show="showValueBase" class="valueBase form-label" ng-if="isUndefined(ability.calc)" title="Default">
			({{ability.value_base}}%)
		</span>
		<span ng-show="showValueBase" class="valueBase form-label" ng-model="ability.value_calc" ng-if="!isUndefined(ability.calc)" title="Default">
			({{ability.value_calc}}%)
		</span>
	</td>
	<td class="values">
		<span class="valueTotal form-label" ng-model="ability.value_total" title="Total">
			({{ability.value_base + ability.value_calc + ability.value_added | max99}}%)
		</span>
	</td>
	<td class="numberInput">
		<input ng-if="isUndefined(ability.time)" type="number" ng-model="ability.value_added" min="0" max="{{99 - ability.value_base}}">
		<span ng-if="!isUndefined(ability.time)">{{ability.time}}</span>
	</td>
</tr>

