<table>
	<thead>
	<tr>
		<td colspan="2">{{data.player.items.stat_desc[key]["desc_x"][data.options.languageIndex]}}</td>
		<td ng-repeat="i in range(9,0,0)" ng-if="i != 5">
			{{ data.player.items.stat_desc[key]["desc_"+i][data.options.languageIndex]}}
		</td>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="item in type"
		ng-if="validTimePeriod(item.time, item.time_mod, selectedItemListTime) &&
		((item.removable == true || isUndefined(item.removable)) && showRemovable == true)">
		<td class="input">
			<input type="checkbox" ng-model="item.remove">
		</td>
		<td>{{item.name[data.options.languageIndex]}}</td>
		<td ng-if="item.sub_type=='melee'" class="chance">{{item.value_base}}</td>
		<td ng-if="item.sub_type!='melee'" class="chance">{{getWeaponSubTypeSkillChance(item)}}</td>
		<td ng-show="!showWeaponDamage">{{item.dmg_display[data.options.languageIndex]}}</td>
		<td ng-show="showWeaponDamage">{{calculateDamageRolls(item)}}</td>
		<td ng-if="key=='melee'" class="hands">{{item.hands}}</td>
		<td ng-if="key=='firearms'" class="checkbox malfunction">{{item.malfunction}}</td>
		<td class="range">{{item.range[data.options.languageIndex]}}</td>
		<td class="attacks">{{item.attacks}}</td>
		<td class="hp" ng-if="false"><input type="number" min="0" max="{{item.hp}}" ng-model="item.hp" ng-if="item.hp"></td>
		<td class="hp_max">{{item.hp_max}}</td>
		<td class="price">{{item.price}}<span ng-if="item.price>0">$</span></td>
		<td class="time"><span class="wrap"><span class="not" ng-class="{visible:item.time_mod=='not'}"></span>{{item.time}}</span></td>
	</tr>
	</tbody>
</table>