
<div class="grid-container">
	<div class="customDice">
		<a zf-open="rollCustomDiceModal" class="diceLink" href="#" title="Roll Dice"></a>
	</div>

	<div class="content grid-block">
		<div id="tabs">
			<div class="tab-headers grid-block medium-up-3 small-up-1 text-center">
				<div ng-class="{active:isActiveTab(0)}" ng-click="onClickTab(0)" class="grid-block">
					<span class="tab-title">Character Sheet</span>
				</div>
				<div ng-class="{active:isActiveTab(1)}" ng-click="onClickTab(1)" class="grid-block">
					<span class="tab-title">Bio & Info</span>
				</div>
				<div ng-class="{active:isActiveTab(2)}" ng-click="onClickTab(2)" class="grid-block">
					<span class="tab-title">Abilities</span>
				</div>
			</div>
			<div class="tab-contents clearfix">
				<div class="grid-block tab" ng-class="{active:isActiveTab(0)}" ng-show="currentTab==0">
					<div sheet></div>
				</div>
				<div class="grid-block tab"	ng-class="{active:isActiveTab(1)}" ng-show="currentTab==1">
					<div info></div>
				</div>
				<div class="grid-block tab"	ng-class="{active:isActiveTab(2)}" ng-show="currentTab==2">
				</div>
			</div>
		</div>
	</div>
</div>
